# Server Configuration
PORT=3000

GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
SHEET_ID=1xmkW14gedqsIEflQmsTuj5qJMpn82Yax0oiYr-3nErs
INPUT_SHEET=input
OUTPUT_SHEET=output
REVIEWS_SHEET=reviews
MAX_PAGES=1
MAX_ITEMS_PER_PAGE=5